<router-outlet></router-outlet>
<div class="container">
  <h1 style="color: red;">My phone book!</h1>
  <hr>
  <div class="flex">
    <input type="text" [(ngModel)]="search" class="form-control phoneInput" aria-label="Sizing example input"
      aria-describedby="inputGroup-sizing-default">
    <button class="btn btn-success add" data-toggle="modal" data-target="#addPhoneModal">add phone</button>
  </div>
  <hr>
  <table>
    <thead>
      <tr>
        <th scope="col" id="fnameTh" (click)="sortByFname()">First name {{arrow}}</th>
        <th scope="col" id="lnameTh" (click)="sortByLname()">Last name</th>
        <th scope="col" id="numberTh" (click)="sortByNumber()">Number</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | find:search; let i=index">
        <td>{{user.fname }}</td>
        <td>{{user.lname }}</td>
        <td>{{user.phone }}</td>
        <td><button class="btn btn-warning" (click)="editUser(i)" data-toggle="modal"
            data-target="#editModal">Edit</button></td>
        <td><button class="btn btn-danger" (click)="deleteUser(i)">Delete</button></td>
      </tr>
    </tbody>
  </table>

  <div class="modal fade" id="addPhoneModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Add phone</h5>
        </div>
        <div class="modal-body">
          <input [(ngModel)]="fname" type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" placeholder="First name">
          <input [(ngModel)]="lname" type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" placeholder="Last name">
          <input [(ngModel)]="phone" type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" placeholder="Phone number">
        </div>
        <div class="modal-footer">
          <button (click)="save()" type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="editModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Edit</h5>
        </div>
        <div class="modal-body">
          <input [(ngModel)]="fnameEdit" type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" placeholder="First name">
          <input [(ngModel)]="lnameEdit" type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" placeholder="Last name">
          <input [(ngModel)]="phoneEdit" type="text" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default" placeholder="Phone number">
        </div>
        <div class="modal-footer">
          <button (click)="saveEdit()" type="button" class="btn btn-primary" data-dismiss="modal">Save</button>
        </div>
      </div>
    </div>
  </div>


</div>
